<% layout('index') %>

<div class="container">
  <div class="row">
    <% products.forEach(function(product) {%>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= product.imagePath %>" alt="<%= product.title %>">
          <div class="caption clearfix">
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <p class="price pull-left">$ <%= product.price %></p>
            <a href="#" class="btn btn-success pull-right">Add to cart</a>
          </div>
       </div>
      </div>
    <% }); %>
  </div>
</div>